<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.anniweiya.system.mapper.SysRoleMapper">


  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="cn.anniweiya.system.entity.SysRole">
    <id column="fid" property="fid"/>
    <result column="fname" property="fname"/>
    <result column="fcode" property="fcode"/>
    <result column="fupdate_time" property="fupdateTime"/>
    <result column="fupdator" property="fupdator"/>
    <result column="fcreate_time" property="fcreateTime"/>
    <result column="fcreator" property="fcreator"/>
    <result column="fis_delete" property="fisDelete"/>
    <result column="fext" property="fext"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    fid, fname, fcode, fupdate_time AS fupdateTime, fupdator, fcreate_time AS fcreateTime, fcreator, fis_delete AS
    fisDelete, fext
  </sql>


  <sql id="Base_Sql">
    ${alias}.fid as fid
    ,${alias}.fname as fname
    ,${alias}.fcode as fcode
    ,${alias}.fupdate_time as fupdateTime
    ,${alias}.fupdator as fupdator
    ,${alias}.fcreate_time as fcreateTime
    ,${alias}.fcreator as fcreator
    ,${alias}.fis_delete as fisDelete
    ,${alias}.fext as fext
  </sql>

  <select id="queryUserRole" parameterType="java.lang.Integer" resultType="cn.anniweiya.system.entity.SysRole">
    SELECT
    <include refid="Base_Sql">
      <property name="alias" value="sr"/>
    </include>
    from sys_role as sr , sys_user_role AS sur
    where sr.fid = sur.frole_id AND sur.fis_delete = 0 AND sr.fis_delete = 0
    AND sur.fuser_id = #{userId}
  </select>

</mapper>
