usersusers# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea

/appserver/target/
appserver/src/test/resources/
appserver/target/
system/src/main/resources/
system/src/test/java/cn/anniweiya/system/test/sys/
system/target/classes/cn/anniweiya/user/controller/
system/target/classes/cn/anniweiya/user/entity/
system/target/classes/cn/anniweiya/user/mapper/
system/target/classes/cn/anniweiya/user/service/
system/target/generated-sources/
system/target/generated-test-sources/
system/target/test-classes/cn/
/appserver/appserver.iml
/system/target/
