<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.anniweiya.user.mapper.SysUserRoleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.anniweiya.user.entity.SysUserRole">
		<id column="fid" property="fid" />
		<result column="fuser_id" property="fuserId" />
		<result column="frole_id" property="froleId" />
		<result column="fupdate_time" property="fupdateTime" />
		<result column="fupdator" property="fupdator" />
		<result column="fcreate_time" property="fcreateTime" />
		<result column="fcreator" property="fcreator" />
		<result column="fis_delete" property="fisDelete" />
		<result column="fext" property="fext" />
	</resultMap>

</mapper>
