<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.anniweiya.system.mapper.SysUserMapper">


  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="cn.anniweiya.system.entity.SysUser">
    <id column="fid" property="fid"/>
    <result column="fusername" property="fusername"/>
    <result column="fpassword" property="fpassword"/>
    <result column="flastpassword_reset_date" property="flastpasswordResetDate"/>
    <result column="fenabled" property="fenabled"/>
    <result column="femail" property="femail"/>
    <result column="flastname" property="flastname"/>
    <result column="ffirstname" property="ffirstname"/>
    <result column="fcreator" property="fcreator"/>
    <result column="fcreate_time" property="fcreateTime"/>
    <result column="fupdator" property="fupdator"/>
    <result column="fupdate_time" property="fupdateTime"/>
    <result column="fis_delete" property="fisDelete"/>
    <result column="fext" property="fext"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    fid, fusername, fpassword, flastpassword_reset_date AS flastpasswordResetDate, fenabled, femail, flastname, ffirstname, fcreator, fcreate_time AS fcreateTime, fupdator, fupdate_time AS fupdateTime, fis_delete AS fisDelete, fext
  </sql>



  <sql id="Base_Sql">
    ${alias}.fid as fid
    ,${alias}.fusername as fusername
    ,${alias}.fpassword as fpassword
    ,${alias}.flastpassword_reset_date as flastpasswordResetDate
    ,${alias}.fenabled as fenabled
    ,${alias}.femail as femail
    ,${alias}.flastname as flastname
    ,${alias}.ffirstname as ffirstname
    ,${alias}.fcreator as fcreator
    ,${alias}.fcreate_time as fcreateTime
    ,${alias}.fupdator as fupdator
    ,${alias}.fupdate_time as fupdateTime
    ,${alias}.fis_delete as fisDelete
    ,${alias}.fext as fext
  </sql>
</mapper>
